@import 'https://fonts.googleapis.com/css?family=Roboto:400,700';
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.ttf?3u9yc2") format("truetype"), url("../fonts/icomoon.woff?3u9yc2") format("woff");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-times:before {
  content: "\e902"; }

.icon-tick:before {
  content: "\e907"; }

.icon-plus2:before {
  content: "\e908"; }

.icon-minus2:before {
  content: "\e909"; }

.icon-th-menu:before {
  content: "\e900"; }

.icon-home3:before {
  content: "\e90a"; }

.icon-arrow-forward:before {
  content: "\e90b"; }

.icon-arrow-back:before {
  content: "\e90c"; }

.icon-user:before {
  content: "\e90e"; }

.icon-group:before {
  content: "\e90f"; }

.icon-eye2:before {
  content: "\e910"; }

.icon-cog:before {
  content: "\e901"; }

.icon-download2:before {
  content: "\e911"; }

.icon-plane:before {
  content: "\e915"; }

.icon-flag2:before {
  content: "\e91a"; }

.icon-arrow-forward-outline:before {
  content: "\e91e"; }

.icon-arrow-back-outline:before {
  content: "\e920"; }

.icon-location-outline:before {
  content: "\e921"; }

.icon-mail:before {
  content: "\e927"; }

.icon-eye-outline:before {
  content: "\e92d"; }

.icon-tag:before {
  content: "\e937"; }

.icon-code-outline:before {
  content: "\e903"; }

.icon-business-card:before {
  content: "\e938"; }

.icon-bell2:before {
  content: "\e939"; }

.icon-flag-outline:before {
  content: "\e93d"; }

.icon-plane-outline:before {
  content: "\e93e"; }

.icon-phone-outline:before {
  content: "\e940"; }

.icon-coffee:before {
  content: "\e943"; }

.icon-thermometer:before {
  content: "\e944"; }

.icon-messages:before {
  content: "\e946"; }

a,
a,
div,
h1,
h2,
h3,
h4,
p,
input,
li,
fb,
span {
  margin: 0; }

fb {
  display: flex; }

html {
  height: 100%;
  font-family: "Roboto", sans-serif;
  color: #3e3e3e; }

body {
  height: 100%;
  margin: 0px;
  background-color: #E9EBEE; }

ul {
  margin: 0px;
  padding: 0px; }

fb {
  display: flex;
  box-sizing: border-box; }

input, textarea {
  border: 1px solid #bbbbbb;
  border-radius: 2px;
  font-size: 16px;
  color: #484848; }
  input:focus, textarea:focus {
    border-color: #2ea8ff;
    outline: none; }
  input::placeholder, textarea::placeholder {
    color: #bfbfbf; }

a {
  text-decoration: none !important; }

#root {
  height: 100%; }
  #root .Container_Main {
    height: 100%; }

.soBtn {
  border: 1px solid #07c;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  color: #FFF;
  background-color: #0095ff;
  border-color: #07c;
  box-shadow: inset 0 1px 0 #66bfff;
  padding: 0px 12px;
  cursor: pointer; }
